.boxInfo {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    justify-content: center;
    width: 196px;
    height: 113px;
    margin: 4px;
    padding: 8px 12px 12px 12px;
    &__icon {
        width: 20px !important;
        height: 20px !important;
        color: #adadad !important;
    }
    &__Upicon {
        color: #7dd254
    }
    &__Uppercent {
        color: #7dd254 !important;
        font-weight: 600 !important;
    }
    &__nodata {
        color: #0000009d;
    }
}

.growthCenter {
    & .MuiTypography-root {
        font-size: 14px;
        color: #000000d9;
    }
    &__buttonTime {
        font-size: 14px !important;
        color: #000000d9 !important;
        font-weight: 400 !important;
        border: 1px solid #c2c2c2 !important;
    }
    &__buttonTime--selected {
        border: 1px solid #1890ff !important;
        color: #1890ff !important;
    }
    &__listBox {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}