@use "../../style/abstract/" as *;
.adminTab {
    &__item {
        width: 100px;
        height: 48px;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #bfbfbf;
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        &.selected {
            border-top: 2px solid $main-admin-color;
            border-bottom: none;
            color: $main-admin-color;
        }
    }
}