.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    &__img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        background-color: #fd810b
    }
    &__img--order {
        background-color: #1890ff;
    }
    &__img--system {
        background-color: #ff1878;
    }
}

