.couponTable {
    & th,
    & td {
        border: 1px solid #bfbfbf !important;
        border-collapse: collapse;
    }
    & p {
        font-size: 12px !important;
    }
    &__buttonEnd {
        cursor: pointer;
        border: 1px solid #bfbfbf;
        height: 28px;
        &>div {
            flex: 1;
            margin: auto;
            text-align: center;
        }
        &>span {
            height: 100%;
            border-left: 1px solid #bfbfbf;
        }
    }
}